/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 * CSS rewritten into SCSS: Tyce Clee (@iamtyce) 6/11/12
 */

$flexslider:  flexslider;
$slides:      slides;
$li:          slide;

/* Browser Resets */

.flex-container a:active, .#{$flexslider} a:active, .flex-container a:focus, .#{$flexslider} a:focus {
  outline: none;
}

.#{$slides}, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/

.#{$flexslider} {
	margin: 0;
	padding: 0;

	.#{$slides} {

		> #{$li} {
			display: none;
			-webkit-backface-visibility: hidden;
		}

		img {
			width: 100%;
			display: block;
		}
	}
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .#{$slides} element */

.#{$slides}:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .#{$slides} {
  display: block;
}

* html .#{$slides} {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .#{$slides} > #{$li}:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/

.#{$flexslider} {
  margin: 0;
  background: $blue-dark;
  position: relative;
  zoom: 1;
}

.flex-viewport {
  max-height: 2000px;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.#{$flexslider} .#{$slides} {
  zoom: 1;
}

/* Direction Nav */

$arrow-offset: 0;
$arrow-offset-hover: $arrow-offset - 10px;

.flex-direction-nav {
  *height: 0;

  a {
    width: $arrow-offset-hover;
    height: 100%;
    display: block;
    position: absolute;
    top: 0; //50%;
    z-index: 20;
    cursor: pointer;
    font-size: 0;
    opacity: 0;
    transition: all .3s ease;

  	&:before {
  		// @include font-awesome('\f053', 40px, $grey-medium);
      background-image: $icon-arrow-left-svg;
      content: '';
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
  		top: 50%;
  		margin-top: -20px;
  	}

    &.flex-next {
      right: -10px; // -$arrow-offset;

	    &:before {
        background-image: $icon-arrow-right-svg;
	    	// content: '\f054';
	    	right: 0;
	    }
  	}

  	&.flex-prev {
    	left: -10px; //-$arrow-offset;
  	}
  }
}


.homepage-main:hover {
  .flex-next {
    opacity: 0.5;
    right: 0; //-$arrow-offset-hover; //5px;
  }
  .flex-prev {
    opacity: 0.5;
    left: 0; // -$arrow-offset-hover;
  }
  .flex-next:hover, .flex-prev:hover {
    opacity: 1;

    &:before {
    	color: $red;
    }
  }
}

.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity = 30);
  cursor: default;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav {
    .flex-prev {
      opacity: 1;
      left: 0;
    }
    .flex-next {
      opacity: 1;
      right: 0;
    }
  }
}