	/* layout
	------------------------------------------------------- */

// Reset the box-sizing
// *,
// *:before,
// *:after {
//   @include box-sizing(border-box);
// }

.wrapper {
	max-width: $siteWidth;
	margin-left: auto;
	margin-right: auto;
}

.group {
	zoom: 1; 

	&:before,  
	&:after {
		content:"";
		display:table;
	}

	&:after {
		clear:both;
	}
}

