	/* layout
	------------------------------------------------------- */

// full screen

html {
    height: 100%;
    overflow-x: hidden;
}

.home.page {
    height: 100%;
}

body {
    font-weight: 400;
    height: 100%; // sticky footer
}

.wrapper {
    /* sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
	max-width: convertToEm(1100px);
    padding-left: $container-padding;
    padding-right: $container-padding;
    @include center;
    transition: max-width .7s ease-out;

    @include breakpoint($bp-widescreen, min-width) {
        max-width: convertToEm(1280px);
    }

}

.main {
    padding-top: 3em;
    padding-bottom: 5em;
    /* sticky footer */
    flex: 1 0 auto;
    // flex-grow: 1;
    // flex-shrink: 0;
    // flex-basis: auto;

    .home.page & {
        padding: 0;
    }
}


/*
    hack to make sticky footer work in IE
    'ie-sticky-footer' class is added by JS
    if the total page height
    is less than the viewport height
 */
.flexboxtweener {
    .ie-sticky-footer .wrapper {
        height: 100%;
    }
}


.browsehappy {
    padding: 25px;
    height: 117px;
    background: $alert-danger-bg;
    color: $alert-danger-text;
    text-align: center;
    position: relative;
    border-bottom: 1px solid $alert-danger-border;

    a {
        color: $link-color;
        text-decoration: underline;
    }

    .close {
        position: absolute;
        right: 5px;
        top: 5px;
        border: none;
        background-color: white;
        color: $alert-danger-text;
        font-weight: bold;
    }
}