	/* variables
	------------------------------------------------------- */

$imageMarginBottom: 1em;
$imageMarginSide: 1em;
$videoRatio: (9/16)*100%;
$shadowTilt: 4deg;
$shadowWidth: 300px;
$gallerySpacing: 1.666666%;



	/* responsive images
	------------------------------------------------------- */

img,
img[class*="align"],
img[class*="wp-image-"] {
   max-width: 100%;
   height: auto;
}

	/* WP alignment
	------------------------------------------------------- */

.alignleft,
.alignright,
.aligncenter,
.alignnone {
	margin: 0 0 $imageMarginBottom;	
}
.alignleft {
	float: left;
	margin-left: 0;
	margin-right: $imageMarginSide;
}
.alignleft.rhs {
	margin-right: 0;
}
.alignright {
	float: right;
	margin-right: 0;
	margin-left: $imageMarginSide;
}
.alignnone {
	float: none;
}
.aligncenter,
div.aligncenter {
	display: block;
	text-align: center;
	margin: 1em auto 1.5em;
}

	/* caption
	------------------------------------------------------- */

.wp-caption {
	padding: 10px 0 5px;
	padding: 4px;
	padding-top: 8px;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: #f9f9f9;
	margin-bottom: 1em;
	max-width: 96%;
}

.wp-caption.aligncenter {
	// width: auto !important;
	margin: 1em auto 1.5em;
}

.wp-caption img {
	display: block;
	margin: 0 auto;
}

p.wp-caption-text {
	margin-top: 5px;
	margin-bottom: 0;
	position: relative;
	text-align: center;
}

	/* shadow
	------------------------------------------------------- */

.shadow:before,
.shadow:after {
	content: "";
	position: absolute; 
	z-index: -500;
	bottom: 20px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: $shadowWidth;
	@include box-shadow(0 20px 10px rgba(0,0,0,0.5));   
	@include transform(rotate(-$shadowTilt));
}

.shadow:after {
	right:10px; 
	left:auto;
	@include transform(rotate($shadowTilt));
}

	/* video
	------------------------------------------------------- */

.video {
	position: relative;
	padding-bottom: $videoRatio;
	height: 0;
	overflow: hidden;
	margin-bottom: 2em;
}
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


	/* gallery
	------------------------------------------------------- */

// ul.nggallery {
// 	margin: -$gallerySpacing;
// 	font-size: 0;
// 	text-align: left;
// }

// ul.nggallery li {
// 	@include inline-block;
// 	vertical-align: top;
// 	margin: $gallerySpacing;
// 	width: 30%;
// }

// ul.nggallery li a {
// 	display: block;
// 	text-align: center;
// 	border: 2px solid #fff;
// 	@include opacity(1);
// }

// ul.nggallery li a:hover {
// 	@include opacity(.9);
// 	border-color: $blue;
// }

	/* map
	------------------------------------------------------- */

.google-map {
	display: block;
	width: 932px;
	height: 332px;
	border: 4px solid #d0d0d0;
	margin-bottom: 40px;
}
