// @include breakpoint($bp-1080) {
@include breakpoint($bp-ipad-landscape - $bp001) {

	.wrapper {
		position: relative;
	}

	.nav-bg {
		background: #222;
		width: $nav-width;
		height: 100%;
		position: fixed;
		z-index: 5;
		top: 0;
		left: -$nav-width;
		border-right: 1px solid black;
	}

	.nav-open .nav-bg {
		overflow-y: auto;
		overflow-x: hidden;
	}

	// #nav-toggle {
	// 	background-image: $navIconSVG;
	// 	background-color: transparent;
	// 	background-repeat: no-repeat;
	// 	background-size: 24px 24px;
	// 	display: block;
	// 	width: 24px;
	// 	height: 24px;
	// 	text-indent: -9999em;
	// 	border: none;
	// 	outline: none;
	// 	position: absolute;
	// 	top: 20px;
	// 	left: 10px;
	// 	cursor: pointer;
	// }

	// .no-svg #nav-toggle {
	// 	background-image: $navIconPNG;
	// 	background-repeat: no-repeat;
	// }

	nav {
		width: 100%;

		ul {
			text-align: left;
			border-bottom: 1px solid #292929;
		}

		li {
			display: block;
			margin: 0;

			a {
				color: white;
				background: #222;
				display: block;
				font-size: 16px;
				text-transform: uppercase;
				text-decoration: none;
				padding: 10px 13px;
				border-top: 1px solid #333;
				border-bottom: 1px solid #111;
			}

			a:hover {
				background: darken($blue, 5%);
			}
		}

	    li:first-child a {
			border-top: none;
	    }
	}

	.close-nav {
		display: block;
		position: relative;
		height: 40px;
		cursor: pointer;

		span {
			position: absolute;
			right: 0;
			top: 0;
			height: 40px;
			width: 40px;
			// background: #333;
			color: #777;
			font-family: sans-serif;
			font-size: 40px;
			display: block;
			line-height: 1.1;
			text-align: center;
		}
	}

	@keyframes slideOpen {
	    from {  transform: translateX(0); }
	    to {    transform: translateX($nav-width); }
	}

	@keyframes slideClosed {
	    from {  transform: translateX($nav-width); }
	    to {    transform: translateX(0); }
	}

	.nav-open .wrapper {
		@include custom-animation(slideOpen, .3s, 0s, ease-out, forwards);
	}

	.wrapper {
		@include custom-animation(slideClosed, .3s, 0s, ease-in, forwards);
	}

	.off-canvas-wrapper {
		overflow-x: hidden;
	}

	.loading .wrapper {
		animation: none;
	}

	.overlay {
		content: '';
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 5;
		top: 0;
		left: 0;
	}

	.nav-open .overlay {
		display: block;
		left: $nav-width;
	}

} // end media query


// ie hack: https://gist.github.com/atk/4025104
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width:0\0) {

	$nav-width: 240px;

	.nav-open .nav-bg {
		left: 0;
	}

	.wrapper,
	.nav-open .wrapper {
		animation: none;
	}

	.nav-open .wrapper {
		transform: translateX($nav-width);
	}

	.wrapper {
		transform: translateX(0);
	}

}