// palette
// -------------------------------

$grey-vdark:            #222;
$grey-logo:             #404040;
$grey-dark:             #555;
$grey-medium:           #aaa;
$grey-light:            #ddd;
$grey-vlight:           #f5f5f5;


// clrs.cc ------------------------

// Cool
$aqua:                  #7FDBFF;
$blue:                  #0074D9;
$navy:                  #001F3F;
$teal:                  #39CCCC;
$green:                 #2ECC40;
$olive:                 #3D9970;
$lime:                  #01FF70;

// Warm
$yellow:                #FFDC00;
$orange:                #FF851B;
$red:                   #FF4136;
$fuchsia:               #F012BE;
$purple:                #B10DC9;
$maroon:                #85144B;

// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;



// type
// -------------------------------
$opensans:              'Open Sans', sans-serif;
$proxima:               'proxima-nova', sans-serif;
$myriad:                'myriad-pro-condensed', sans-serif;
$museo:                 'museo-slab', georgia, serif;
$font-size-h1:          28px;
$font-size-h2:          26px;
$font-size-h3:          20px;
$font-size-h4:          17px;
$font-size-h5:          16px;
$font-size-h6:          16px;

$font-size-large:       20px;
$font-size-small:       14px;
$font-size-tiny:        12px;


// images
// -------------------------------
$image-margin-bottom:   1em;
$image-margin-side:     1em;
$video-ratio:           percentage(9/16);




// header
// -------------------------------
$header-h:          120px;
$logo:              url(images/logo.png);
$logo-w:            195px;
$logo-h:            80px;
$logo-margin-top:   13px;

$search-btn-w:      20px;



// layout
// -------------------------------

$container-padding: 15px;
$nav-width:         240px; //15em;

$side-padding:      70px;


// bootstrap scaffolding variables
// -------------------------------

$font-size-base:        16px;
$font-family-base:      $opensans; //$helvetica;
$line-height-base:      1.42857;
$text-color:            $grey-vdark;
$body-bg:               white;
$link-color:            #0D9FFA; //$brand-primary;
$link-hover-color:      darken($link-color, 15%);
$border-radius-large:   3px; // img-rounded
$border-radius-small:   2px;
$thumbnail-padding:     5px;
$thumbnail-bg:          #eee;
$thumbnail-border:      #ddd; // color
$thumbnail-border-radius:3px;
$line-height-computed:  20px; //hr
$hr-border:             #eee;


// bootstrap type variables
// -------------------------------
$headings-font-family:  $opensans;
$headings-font-weight:  700;
// $headings-line-height:  ;
$headings-color:        $blue;
$headings-small-color:  $red;



// breakpoints
// -------------------------------

@function convertToEm($bp) {
  $emSize: $bp / $font-size-base;
  @return $emSize * 1em;
}

$bp-widescreen:         convertToEm(1300px);
$bp-desktop:            convertToEm(1000px);
$bp-tablet:             convertToEm(800px);
$bp-ipad-landscape:     convertToEm(1024px);
$bp-ipad-portrait:      convertToEm(768px);
$bp-mobile:             convertToEm(600px);
$bp-1080:               convertToEm(1080px);
$bp-480:                convertToEm(480px);
$bp-320:                convertToEm(320px);
$bp001:                .001em;