/**
 * Images
 *
 */


/**
 * responsive images
 */
img,
img[class*="align"],
img[class*="wp-image-"] {
   max-width: 100%;
   height: auto;
}

/**
 * thumbnails
 */
.thumbnail {
  border-radius: $border-radius-small;
}


/**
 * featured image
 */
.img-featured {
  float: left;
  border-radius: $border-radius-large;
  margin: 0 1em 1em 0;

  @include media-max-width(mobile) {
    float: none;
    margin: 1em auto;
  }
}

.image-circle {
  border-radius: 500px;
}

.featured-image {
  margin-top: 1em;
  margin-bottom: 2em;

  img {
    border-radius: $border-radius-small;
  }

  @include media-min-width(mobile) {
  }
}


/**
 * alignment
 */
.alignleft,
.alignright,
.aligncenter,
.alignnone {
  margin: 5px 0 $image-margin-bottom;
  border-radius: $border-radius-small;

  img {
    border-radius: $border-radius-small;
  }
}
.alignleft {
  float: left;
  margin-left: 0;
  margin-right: $image-margin-side;
}
.alignleft.rhs {
  margin-right: 0;
}
.alignright {
  float: right;
  margin-right: 0;
  margin-left: $image-margin-side;
}
.alignnone {
  float: none;
}
.aligncenter,
div.aligncenter {
  display: block;
  text-align: center;
  margin: 1em auto 1.5em;
}


/**
 * caption
 */
.wp-caption {
  padding: 4px;
  background: #eee;
  margin-bottom: 2em;

  img {
    border-radius: $border-radius-small;
  }
}

.wp-caption.aligncenter {
  margin: 1em auto 1.5em;

  @include media-max-width(mobile) {
    max-width: 100%;
  }
}

.wp-caption img {
  display: block;
  margin: 0 auto;
}

p.wp-caption-text {
  margin-top: 5px;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  @include font-size(12px);
}


/**
 * video
 */
.video-embed {
  position: relative;
  padding-bottom: $video-ratio;
  height: 0;
  overflow: hidden;
  margin-bottom: 2em;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/**
 * Google map
 */
.google-map {
  width: 100%;
  position: relative;
  padding-bottom: 65%; // approx 3x2 ratio
  height: 0;
  overflow: hidden;
  // margin-bottom: 2em;

  img {
    max-width: none;
  }
}