ul, dl {
    margin-bottom: 2em;
}

.article-content li,
.bullet-list li {
    position: relative;
    padding-left: 1em;
    margin-bottom: 8px;

    a {
        color: $link-hover-color;
        border-bottom: none;
        text-decoration: underline;

        &:hover {
            color: $link-color;
        }
    }

    &:before {
        content: "";
        display: block;
        background-color: $link-hover-color;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        position: absolute;
        left: 0;
        top: 11px;
        margin-top: -3px;
    }
}

.tag-list {
    li {
        display: inline-block;
        background-color: #ddd;
        color: #111;
        padding: 2px 8px;
        @include font-size(12px);
    }
}