.post-content ul,
.block-content ul,
.post-content ol {
  margin-bottom: 1.5em;
  display: inline-block;
}

.bullet-list li,
.content ul li,
.block-content ul li,
.post-content ul li {
  margin-left: 1em;
  position: relative;
  padding-left: 1em;
  padding-bottom: .25em;

  &:before {
    content: "";
    display: block;
    background-color: $green;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
  }
}

.post-content ol li {
  margin-left: 2em;
  margin-bottom: .5em;

  .single-competition & {
    @include font-size(12px);
  }
}

.number-list {

  li {
    margin-left: 1.5em;
  }
}


dl {
  margin: 0 2px;

  dt, dd {
    display: inline-block;
    margin: 0 -2px;
    padding: .625em .625em .625em 1em;
    vertical-align: top;

  }
  dt {
    width: percentage(25/100);
  }
  dd {
    width: percentage(55/100);
  }

  ul {
    margin-bottom: 0;
  }
}