// palette
// -------------------------------


// clrs.cc ------------------------
$aqua:                  #7FDBFF;
$blue:                  #0074D9;
$navy:                  #001F3F;
$teal:                  #39CCCC;
$biege:                 #3D9970;
$lime:                  #01FF70;
$yellow:                #FFDC00;
$orange:                #FF851B;
$red:                   #FF4136;
$fuchsia:               #F012BE;
$purple:                #B10DC9;
$maroon:                #85144B;
$white:                 #fff;
$silver:                #ddd;
$gray:                  #aaa;
$black:                 #111;

$grey-vdark:            #444;
$grey-dark:             #808080;
$grey-medium:           #ccc;
$grey:                  $grey-medium;
$grey-light:            #e1e2e2;
$grey-vlight:           #f5f5f5;




// font family
// -------------------------------

$opensans:              "Open Sans", sans-serif;


// images
// -------------------------------

$path:                  "";

$image-margin-bottom:   1em;
$image-margin-side:     1em;
$video-ratio:           percentage(9/16);



// bootstrap scaffolding variables
// -------------------------------

$font-size-base:        16px;
$font-family-base:      $opensans;
$line-height-base:      1.42857;
$text-color:            $grey-vdark;
$body-bg:               white;
$link-color:            $grey-medium;
$link-hover-color:      $grey-light;
$border-radius-large:   6px; // img-rounded
$border-radius-small:   2px;
$thumbnail-padding:     5px;
$thumbnail-bg:          $grey-vlight;
$thumbnail-border:      $grey-light;
$thumbnail-border-radius:3px;
$line-height-computed:  20px; //hr
$hr-border:             #eee;


// bootstrap type variables
// -------------------------------

$headings-font-family:  $opensans;
$headings-font-weight:  400;
$headings-color:        $grey-vdark;


// layout
// -------------------------------

@function convertToEm($bp) {
  $emSize: $bp / $font-size-base;
  @return $emSize * 1em;
}

$container-padding:     15px;
$nav-width:             15em;

// $side-column-w:     15em;
// $side-column-p:     2em;
// $sidebar-w:             convertToEm(300px);
// $sidebar-p:             convertToEm(48px);
// $sidebar-tablet-p:      convertToEm(32px);
// $sidebar-small-w:       15em;

$header-h:              convertToEm(230px);




// bootstrap other variables
// -------------------------------

// $pagination-color:         $green;
// $pagination-hover-color:   white;
// $pagination-hover-bg:      $green;
// $pagination-hover-border:  $green;
// $pagination-active-bg:     $green-medium;
// $pagination-active-border: $green-medium;

// $alert-success-bg: ;
// $alert-success-border: ;
// $alert-success-text: ;
// $alert-info-bg:         $blue-sky;
// $alert-info-border:     darken($color-one, 10%);
// $alert-info-text:       $color-one;
// $alert-warning-bg: ;
// $alert-warning-border: ;
// $alert-warning-text: ;
// $alert-danger-bg: ;
// $alert-danger-border: ;
// $alert-danger-text: ;



// type
// -------------------------------

$font-size-h1:          30px;
$font-size-h2:          24px;
$font-size-h3:          20px;
$font-size-h4:          $font-size-base;
$font-size-h5:          $font-size-base;
$font-size-h6:          $font-size-base;

$font-size-large:       $font-size-base + 2px;
$font-size-small:       $font-size-base - 2px;
$font-size-tiny:        $font-size-base - 4px;

$bold-weight:           bold; // 600

$form-font:             $opensans;