.site-footer {
}

.footer-main {
  background-color: $footer-bg;
  padding-top: 20px;
  @include font-size(13px);
}

.footer-contact {
  display: flex;
}

.footer-logo {
  margin-right: 1em;

  a {
    @include logo($logo-svg, $logo-w/3, $logo-h/3);
  }
}

.footer-contact-details {
  color: white; //black;

  a {
    color: white;
    text-decoration: underline;
  }

  span {
    display: inline-block;
    width: 30px;
  }

  span.fa {
    width: auto;
    margin-right: 8px;
    text-decoration: none;
  }

  a:hover {
    color: $orange;

    .fa {
      color: $orange;
    }
  }
}

.footer-mailing-list {

  .gform_wrapper {
    background-color: rgba(white, .2); //transparent;
    padding: 6px 6px 8px; // 10px;
    margin-bottom: 20px;
  }

  h3 {
    @include font-size(14px);
    margin-top: 0;
    margin-left: 3px;
    margin-bottom: 8px;
    font-weight: 600;
    color: white; //black;
  }

  .subscribe-input,
  .subscribe-button {
    display: inline-block;
    vertical-align: top;
  }

  .subscribe-input {
    width: calc(100% - 85px);
  }

  .subscribe-button {
    width: 80px;
    text-align: center;
    padding: 7px 0;
  }
}

.footer-tagline {

  em {
    @include logo(url("images/your-local-bloke.png"), 420px, 100px);
    @include center;
  }
}

.footer-links {

  li {
    margin-bottom: 8px;
  }
}

.join-crt {
  @include font-size(16px);
  font-weight: 600;
}

.footer-sub {
  text-align: center;
  background-color: #333;
  padding: 10px 0;

  p {
    margin-bottom: 0;
    @include font-size(12px);
    color: white;

    a {
      color: white;
    }
  }
}

.separator {
  color: #999;
  position: relative;
  top: -1px;
  padding: 0 5px;
}