/**
 * logo
 *
 */

$logo-svg:    url("images/logo.svg");
$logo-w:      144px;
$logo-h:      132px;

h1.logo {
  margin: 10px 0 0;
}

.logo {

  a {
    @include logo($logo-svg, $logo-w, $logo-h);
    opacity: 1;
    transition: opacity .2s ease;

    &:hover {
      opacity: .8;
    }
  }
}
