/**
 * primary navigation
 *
 * using descendant selectors
 * to target top level items only
 *
 */

.nav-bg {
  background-color: $navbar-bg;
  border-radius: 4px;
}

.nav-main {

  > ul {
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
  }

  > ul > li {
    margin-left: 5px;
    margin-right: 5px;
    flex: auto;
    text-align: center;
    position: relative;
    background-color: transparent;
    transition: background-color .2s ease;
  }

  /*
   * setting hover bg color on list element
   * makes it appear when drop down is open
   */
  > ul > li:hover {
    background-color: $nav-item-hover-bg;
  }

  > ul > li > a {
    display: block;
    color: white;
    padding: 10px 0;
    @include font-size(14px);
    text-transform: uppercase;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  > ul > li:last-child {
    margin-right: 0;
  }

  // .active a,
  // .current_page_item a,
  // .current_page_parent a,
  // .current-menu-item a {
  // }
}


